<!--Homepage-->

<!-- Jumbotron -->
<div class="jumbotron-fluid text-center ">
    <div class="jumbotron text-center shadow-lg p-3 mb-5 bg-white rounded">
        <h1><em>Mongo Article Scraper</em></h1>
        <h3>Holistic Health Edition</h3>
    </div>
</div>
<div class="col-md-12">
    {{#if article}}
    {{#each article}}
    <div class="card-header" id="titleinput">
        <h3>{{this.title}}</h3>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0" id="bodyinput">
            <p> {{this.summary}}</p>
            <a href={{this.link}} target="_blank">{{this.link}}</a>
            <br><br>
            <button type="button" class="btn btn-success save" data-id={{this._id}}>Save Article</button>
        </blockquote>
    </div>
</div>
{{/each}}
{{else}}
<div class="card shadow mb-5 bg-black rounded">
    <div class="card-header" id="titleinput">
        <blockquote class="blockquote mb-0">
            <h4 class="text-center">Oops...Need to scrape some articles first!</h4>
        </blockquote>
    </div>
</div>
</div>
{{/if}}
</div>